{% extends 'admin_dashboard.html'%}
{% load static %}
{% block title %} Library Management System {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container">
    <form method="POST"> {% csrf_token %}
    <div class="row mt-4">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Book Name</i></label>
            <input type="text" class="form-control mt-2" name="name" value="{{book.name}}" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Author Name</i></label>
            <input type="text" class="form-control mt-2" name="author" value="{{book.author}}" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">ISBN Number</i></label>
            <input type="number" class="form-control mt-2" name="isbn" value="{{book.isbn}}" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-12">  
            <label><i style="font-weight: bold;">Category</i></label>
            <input type="text" class="form-control mt-2" name="category" value="{{book.category}}" required>
        </div>
    </div>
    <div class="row mt-4">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Publication</i></label>
            <input type="text" class="form-control mt-2" name="publication" value="{{book.publication}}" required>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary mt-4">edit Book</button>
</div>
</form>
{% endblock %}